<table class="table table-striped">
    {{#props}}
    <tr>
        <td>{{title}}</td>
        <td>{{val}}</td>
    </tr>
    {{/props}}
    <tr>
        <td>Проверен</td>
        <td>
            {{#uik.approved}}Да{{/uik.approved}}
            {{^uik.approved}}Нет{{/uik.approved}}
        </td>
    </tr>
    {{#isBlocked}}
    <tr class="block">
        {{#isUnBlocked}}
        <td>Заблокирована вами</td>
        <td>
            <button class="btn btn-small btn-primary block" id="unblock" type="button">Разблокировать</button>
        </td>
        {{/isUnBlocked}}
        {{^isUnBlocked}}
        <td>Заблокировал</td>
        <td>{{userBlocked}}</td>
        {{/isUnBlocked}}
    </tr>
    {{/isBlocked}}
</table>

<div class="edit">
    {{#isUserEditor}}
    <button class="btn btn-small btn-primary {{#isBlock}}block{{/isBlock}}" id="edit" type="button"
    {{#editDenied}}disabled="disabled"{{/editDenied}}>Редактировать</button>
    {{/isUserEditor}}
</div>