<div id="welcomePopup">
    <p><strong>Здесь вы можете помочь проверить информацию по местоположениям объектов.</strong></p>

    <p>Чтобы начать работу - <a target="_blank" href="{{rootUrl}}register">зарегистрируйтесь</a> и найдите интересный
        вам участок или непроверенные объекты.</p>

    <p>Полезные ссылки:</p>
    <ul>
        <li><a target="_blank" href="http://nextgis.github.io/nextgiscrowd/">Руководство пользователя редактора</a></li>
        <li><a target="_blank" href="http://gis-lab.info/qa/uikgeo.html">О проекте</a></li>
        <li><a target="_blank" href="https://github.com/nextgis/nextgiscrowd">Исходный код</a></li>
        <li><a target="_blank" href="https://github.com/nextgis/nextgiscrowd/wiki/%D0%9A%D0%B0%D0%BA-%D1%8D%D1%82%D0%BE-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%B5%D1%82">Как это работает</a></li>
        <li>Обратная связь: <a a target="_blank" href="http://nextgis.ru/contact/">здесь</a></li>
    </ul>
    
    <p><strong>Пожалуйста, не используйте данные с других карт!</strong></p>

    {{#first}}
    <div class="start">
        <input type="button" class="btn btn-primary" value="Начать работу!"/>
    </div>
    {{/first}}
</div>
